spring:
  datasource:
    url: jdbc:h2:mem:hotelbooktest;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  flyway:
    enabled: false

logging:
  level:
    org.hibernate.SQL: DEBUG

management:
  endpoint:
    info:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info

info:
  app:
    name: HotelBook
    environment: test
